.vs/config/applicationhost.config
*.suo
LanParty.Web/bin/LanParty.Web.dll
LanParty.Web/bin/LanParty.Web.pdb
LanParty.Web/obj/Debug/LanParty.Web.pdb
*.dll
LanParty.Web/Properties/PublishProfiles/Amazon.pubxml.user
LanParty.Web/obj/Release/TransformWebConfig/transformed/Web.config
LanParty.Web/obj/Release/Package/PackageTmp/Views/Shared/_Layout.cshtml
LanParty.Web/obj/Release/Package/PackageTmp/Views/UsersAdmin/Delete.cshtml
.vs/config/applicationhost.config
LanParty.Core/bin/Debug/LanParty.Core.dll
LanParty.Core/bin/Release/LanParty.Core.dll.config
LanParty.Core/bin/Release/Microsoft.AspNet.Identity.EntityFramework.xml
LanParty.Core/bin/Release/Microsoft.Owin.Security.Cookies.xml
LanParty.Core/bin/Debug/LanParty.Core.dll
.vs/config/applicationhost.config
LanParty.Core/bin/Release/Microsoft.AspNet.Identity.Core.xml
LanParty.Core/bin/Release/Microsoft.AspNet.Identity.Owin.xml
LanParty.Core/bin/Release/Microsoft.Owin.Security.xml
LanParty.Core/bin/Release/Newtonsoft.Json.xml
LanParty.Core/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
*.dll
LanParty.Core/obj/Debug/LanParty.Core.dll
LanParty.Core/obj/Release/DesignTimeResolveAssemblyReferencesInput.cache
LanParty.Core/obj/Debug/LanParty.Core.pdb
LanParty.Core/obj/Release/LanParty.Core.Migrations.Fix.resources
LanParty.Core/obj/Release/LanParty.Core.Migrations.Seats_Update.resources
LanParty.Web/obj/Debug/CSAutoParameterize.parameters.xml
LanParty.Web/obj/Debug/CSAutoParameterize/transformed/Views/Web.config
LanParty.Web/obj/Debug/LanParty.Web.csprojResolveAssemblyReference.cache
*.dll
LanParty.Web/obj/Debug/LanParty.Web.pdb
LanParty.Web/obj/Debug/Package/LanParty.Web.deploy-readme.txt
LanParty.Web/obj/Debug/Package/LanParty.Web.SetParameters.xml
LanParty.Web/obj/Debug/Package/PackageTmp/bin/LanParty.Core.pdb
*.zip
LanParty.Web/obj/Debug/Package/PackageTmp/bin/LanParty.Web.pdb
LanParty.Web/obj/Debug/Package/PackageTmp/Content/bootstrap-theme.css.map
LanParty.Web/obj/Debug/Package/LanParty.Web.deploy.cmd
LanParty.Web/obj/Debug/Package/PackageTmp/Content/bootstrap-theme.min.css.map
LanParty.Web/obj/Debug/Package/PackageTmp/Content/bootstrap.min.css
LanParty.Web/obj/Debug/Package/PackageTmp/Content/Images/background.png
LanParty.Web/obj/Debug/Package/PackageTmp/Content/Images/Logos/audiovideo.jpg
LanParty.Web/obj/Debug/Package/PackageTmp/Content/bootstrap.css.map
LanParty.Web/obj/Debug/Package/PackageTmp/Content/bootstrap-theme.css
LanParty.Web/obj/Debug/Package/PackageTmp/Content/bootstrap.min.css.map
LanParty.Web/obj/Debug/Package/PackageTmp/Content/Images/Logos/smal.jpg
LanParty.Web/obj/Debug/Package/PackageTmp/Content/Images/piccontainer3.jpg
LanParty.Web/obj/Debug/Package/PackageTmp/favicon.ico
LanParty.Web/obj/
LanParty.Core/obj/
LanParty.Web/bin/
LanParty.Core/bin/
LanParty.Core/obj/Debug/LanParty.Core.csproj.FileListAbsolute.txt
LanParty.Web/Properties/PublishProfiles/Amazon.pubxml
LanParty.Web/obj/Debug/LanParty.Web.pdb
LanParty.Web/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
LanParty.Web/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
LanParty.Core/bin/Debug/LanParty.Core.dll
LanParty.Core/obj/Debug/LanParty.Core.csproj.FileListAbsolute.txt
LanParty.Web/bin/LanParty.Web.dll.config
.vs/config/applicationhost.config
LanParty.Web/LanParty.Web.csproj
LanParty.Core/obj/Debug/LanParty.Core.csproj.FileListAbsolute.txt
LanParty.Web/obj/Debug/LanParty.Web.dll
.vs/config/applicationhost.config
LanParty.Web/LanParty.Web.csproj
LanParty.Web/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
LanParty.Web/obj/Debug/LanParty.Web.pdb
LanParty.Web/obj/Debug/LanParty.Web.csprojResolveAssemblyReference.cache
LanParty.Web/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache