@{
    ViewBag.Title = "Information";
}
<h2>@ViewBag.Title.</h2>
<hr />
<div>
    <strong>Plats:</strong> Bredaryds Bygdegård<br />
   <strong>Datum:</strong> 19/8 - 21/8 2017<br />
    <strong>Tid:</strong> 16:00<br /><br/>

    <p>
        Glöm inte att ta med sovsäck, nätverkskabel och datorn så klart!<br/>
        Vi erbjuder bara en(1) strömplats så om du behöver fler platser så måste du ta med en skarvdosa!
    </p>

    <p>
        Vi rekommenderar att alla deltagare är med hela LANet.<br />
        Vi vet att många föräldrar inte ville att deras barn skulle vara med båda nätterna för sömnens skull.</br>
        Problemet vi såg med det var att de flesta barnen valde att sitta vakna HELA första natten för att få vara med så länge som möjligt.</br>
        Vi är övertygade att om man är med hela helgen kommer man sova mer.
    </p>

    <h2>Händelser</h2>
    <p>
        Här finns hela listan över vad som kommer att officielt hända under LANet!
        <br />
        Kommer mer information nämre LANet.
    </p>
</div>

