@{
    ViewBag.Title = "Kontakt";
}
<h2>@ViewBag.Title.</h2>
<hr />
<div style="display: flex; justify-content: space-between; flex-wrap: wrap">
    <p>
        <strong>Andreas Johnsson</strong></br>
        <i>Värd</i></br>
        Tel:</br>
    </p>
    <p>
        <strong>Therése Angesson</strong></br>
        <i>Värd</i></br>
        Tel:</br>
    </p>
    <p>
        <strong>Daniel Boman</strong></br>
        <i>Värd/Teknikansvarig</i></br>
        Tel: 0721-706800</br>
    </p>
    <p>
        <strong>Peter Bengtsson</strong></br>
        <i>Värd/Teknikansvarig</i></br>
        Tel:</br>
    </p>
</div>