@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    Ringvägen<br />
    Värnamo<br />
</address>

<address>
    <strong>Support:</strong>   <a href="mailto:support@parallell.com">support@parallell.com</a><br />
    <strong>Marketing:</strong> <a href="mailto:marketing@parallell.com">marketing@parallell.com</a>
</address>