@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Simple CRM</h1>
    <p class="lead">
        Simple CRM is probably the quickest and simplest web publishing tool currenmtly avaliable.
        <br />
        <i>It provides the meens for you to build great web sites without the hassle of coding!</i>
    </p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Features</h2>
        <p>
            Simple CRM gives you a powerful way to build dynamic websites that gives you
            full control over markup for enjoyable content management.
        </p>
        <p><a class="btn btn-default" href="#">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>-</h2>
        <p>...</p>
        <p><a class="btn btn-default" href="#">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>@ViewBag.Title</h2>
        <p>...</p>
        <p><a class="btn btn-default" href="#">Learn more &raquo;</a></p>
    </div>
</div>