@{
    ViewBag.Title = "Home Page";
}
<div>
    <img style="width: 100%" class="img-responsive" src="~/Content/Images/background.png" />
    <h1>MarknadsLAN 2017</h1>
    <p class="lead">
        Bokningen öppnar Fredag 3:e Juni klockan 17:00.
        
        <br />
        <i>Vi uppmanar er att läsa igenom informationen på informationssidan innan ni bokar.<br/>
        /crew</i>
    </p>
</div>