@{
    ViewBag.Title = "Sponsorer";
}

<style>
    .image-grid {
        display: flex;
        justify-content: flex-start;
        flex-wrap: wrap;
    }

        .image-grid div {
            padding: 5px;
            background-color: #fff;
            border-radius: 7px;
            margin: 5px;
        }
</style>

<h2>@ViewBag.Title.</h2>
<hr />
<div>
    <p>Tack för alla bidrag från närginglivet för att ni gör detta LANet möjligt!</p>
    <div class="image-grid">
        <div>
            <img class="img-responsive" src="~/Content/Images/Logos/audiovideo.jpg" />
        </div>
        <div>
            <img class="img-responsive" src="~/Content/Images/Logos/byteshift.jpg" />
        </div>
        <div>
            <img class="img-responsive" src="~/Content/Images/Logos/elajo.jpg" />
        </div>
        <div>
            <img class="img-responsive" src="~/Content/Images/Logos/plastprint.jpg" />
        </div>
        <div>
            <img class="img-responsive" src="~/Content/Images/Logos/smal.jpg" />
        </div>
        <div>
            <img class="img-responsive" src="~/Content/Images/Logos/vmo.jpg" />
        </div>

    </div>
</div>

