@{
    ViewBag.Title = "Turneringar";
}
<h2>@ViewBag.Title.</h2>
<hr />
<div>
    <p>
        Vi har inte bestämmt vilka turneringar som kommer att köras i år.<br/>
        Vi återkommer med mer information om turneringar soon™
    </p>
</div>